.social-auth-button{
    padding-left:36px;
    margin:10px 0;
    color: #fff;
    
    &--facebook-button{
        background: color($palette-blue-900);

        &:hover{
            background: color($palette-blue-800);
        }
    }
    
    &--google-plus-button{
        background: color($palette-red-600);
        
        &:hover{
            background: color($palette-red-800);
        }
    }

    &--twitter-button{
        background: color($palette-blue-500);
        
        &:hover{
            background: color($palette-blue-700);
        }
    }
}