$form-inverse-color: color($palette-grey-100);

.label--inverse{
    color: $form-inverse-color;
}

.textfield {
    &--inverse {
        color: $form-inverse-color;
        border-bottom-color: $form-inverse-color;
    }

    &__label--non-floating {
        position: static;
    }
}

.checkbox--inverse{
    .mdl-checkbox__box-outline{
        border-color: $form-inverse-color;
    }
}