.pagination{

    list-style-type: none;
    font-size:20px;
    text-align: center;
    
    li{
        display: inline-block;
    }

    &__link{
        height: 36px;
        width: 36px;
        min-width: 0px;
        padding:0;
        color: rgba(0,0,0,.5);
        transition: color 2s;
        cursor: pointer;

        &:hover{
            color: rgba(0,0,0,1);
            transition: color 2s;
        }

        &--active{
            background: unquote("rgb(#{$color-accent})");
            color: white;
        }

        &--active:hover{
            color:white;
        }
    }
}