.auth-form{
    &__bg-overlay{
        color: #fff;
        padding: 5% 0;
        display: block;
        background: color($palette-blue-grey-800);
        width: 100%;
        height: 100%;
    }
    
    .checkbox-container{
        display: inline-block;
    }
}