.hero {
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: color($palette-grey-50);

    &__content-container {
        padding: 2rem 0;
    }

    &__img {
        img {
            max-width: 400px;
        }
    }

    h1 {
        font-weight: 300;
        font-size: 1.25rem;
        text-align: center;
        color: color($palette-grey-800);
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
        color: color($palette-grey-600);
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    h6 {
        font-size: 1rem;
        color: color($palette-grey-600);
    }
}

@media only screen and (min-width: 48rem) {
    .hero{
        &__content-container {
            padding: 3rem 0;
        }

        h1 {
            font-size: 2.25rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            font-size: 1.1rem;
            margin-bottom: 1em;
        }

        h6 {
            font-size: 1.1rem;
        }
    }
}