.right-section-card {
    width: 100%;
    margin-bottom: 40px;

    :last-child {
        margin-bottom: 0;
    }

    &__list {
        margin: 0;
    }
}

.right-section-list {
    padding: 0;

    &__thumbnail {
        width: 100%;
        height: auto;

        &-container {
            max-width: 45px;
        }
    }

    &__container {
        margin: 0;
        padding: 0;
    }

    &__title {
        margin: 5px 0;

        &-link {
            color: color($color-primary);
            text-decoration: none;

            &:hover {
                color: color($color-primary-dark);
            }
        }
    }

    &__detail {
        font-size: 11px;
        color: color($palette-grey-500);
        text-transform: uppercase;
    }
}
