.section{
    padding:2% 0;

    &__heading{
        font-weight: 100;
    }
    
    &--intro{
        background: color($palette-grey-100);
    }
    
    &--categories{
        background: color($color-primary);
    }
    
    &--recommendations{
        background: color($color-accent);
    }
}