.section{
    padding:4% 0;

    &__heading {
        font-weight: 300;
        font-size: 2.5rem;
    }

    &__body {
        justify-content: center;
    }
    
    &--intro{
        background-color: color($palette-blue-grey-50);
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            bottom: -75px;
            right: 25px;
            background-image: url('../../img/book_degree_ruler_globe.svg');
            background-repeat: no-repeat;
            background-position: bottom right;
            width: 150px;
            height: 150px;
            display: block;
        }
    }
    
    &-category{
        background: color($palette-blue-grey-100);
    }
    
    &--recommendations{
        background: color($palette-blue-grey-200);
    }

    &--future {
        padding-bottom: 0;
        background: color($palette-blue-grey-100);

        &__browser-mockup {
            max-width: 95%;
        }

        &__description {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }
    
    &--404{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: #6A8733;

        &__table{
            display: table;
            height: 100%;
            width: 100%;
        }

        &__container{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        &__content{
            display: inline-block;
            text-align: center;
        }
        
        a{
            text-decoration: none;
            font-weight:normal;
        }
    }
}

@media only screen and (min-width: 48rem) {
    .section {

        &--future {

            &__browser-mockup {
                max-width: 80%;
            }
        }
    }
}