.section{
    padding:4% 0;

    &__heading{
        font-weight: 100;
    }
    
    &--intro{
        background: color($palette-blue-grey-50);
    }
    
    &-category{
        &--note{
            background: color($palette-red-600);
        }
        
        &--syllabus{
            background: color($palette-deep-orange-600);
        }
        
        &--blog{
            background: color($palette-green-800);
        }
    }
    
    &--recommendations{
        background: color($palette-blue-grey-800);
    }
    
    &--404{
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: #6A8733;

        &__table{
            display: table;
            height: 100%;
            width: 100%;
        }

        &__container{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        &__content{
            display: inline-block;
            text-align: center;
        }
        
        a{
            text-decoration: none;
            font-weight:normal;
        }
    }
}