$color-primary: $palette-blue-400;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-teal-500;
$color-accent-dark: $palette-teal-900;
$color-primary-contrast:$palette-grey-100;
$color-accent-contrast: $palette-grey-200;

$layout-header-text-color: color($palette-grey-700);