.text--thin{
    font-weight: 100;
}

.text--light {
    font-weight: 300;
}

.text--normal {
    font-weight: 500;
}

.text--bold{
    font-weight: 800;
}

.text--color-primary{
    color: color($color-primary);
}

.text--color-accent{
    color: color($color-accent);
}

.text--color-default{
    color: $text-color-primary;
}

.text--color-white{
    color: #fff;
}

.text--color-light{
    color: #AAA;
}

.text--decoration-none{
    text-decoration: none;
}

.text--decoration-underline{
    text-decoration: underline;
}