/**
*   Variables
*/

$image_path: '/img/mdl';

/*
*   Post Elements
*/
$post-body-gutter-size: 60px;

/*
*   Post Detail
*/
$post-detail-font-size: 12px;
$post-detail-text-color: rgba(#000,0.5);

/*
*   Post Stat
*/
$post-stat-gutter-size: 20px;
$post-stat-bg-color: color($color-accent);
$post-stat-text-color: color($color-white);
$post-stat-numeric-color: color-alpha($color-white,0.6);

/*
*   Post Card
*/
$post-card-width : 320px;
$post-card-media-height : 180px;

/*
*   Breadcrumb
*/
$breadcrumb-text-color: color-alpha($color-accent,0.6);
$breadcrumb-text-color-hover: color-alpha($color-accent,1);