/**
*   Variables
*/

$image_path: '/img/mdl';

/*
*   Post Elements
*/
$post-body-gutter-size: 15px;
$post-body-font-size: 16px;

/*
*   Post Detail
*/
$post-detail-font-size: 12px;
$post-detail-text-color: rgba(#000,0.5);

/*
*   Post Stat
*/
$post-stat-gutter-size: 20px;
$post-stat-bg-color: color($color-primary);
$post-stat-text-color: color($color-white);
$post-stat-numeric-color: color-alpha($color-white,0.6);

/*
*   Post Card
*/
$post-card-width : 320px;
$post-card-media-height : 180px;

/*
*   Breadcrumb
*/
$breadcrumb-text-color: color-alpha($color-accent,0.9);
$breadcrumb-text-color-hover: color-alpha($color-accent,1);

/*
*   Img Tag
*/
$imp-tag-font-size: 14px;
$imp-tag-bg-color: color($color-accent-dark);

/*
* Featured Tag
*/
$featured-tag-bg-color: color($palette-red-800);

/*
*   Post Body styles
*/
$post-body-h2-size: 30px;
$post-body-h3-size: 28px;
$post-body-h4-size: 24px;
$post-body-h5-size: 20px;
$post-body-h6-size: 18px;
$post-body-p-size: 16px;

$post-body-p-margin: 20px;

/*
*   Media
*/
$media-attachment-max-width: 815px;

$media-thumbnail-margin-size: 4px;
$media-image-thumbnail-size: 150px;

/*
*   Alerts
*/
$alert-text-color: #fff;
$alert-bg-color: color($palette-blue-grey-900);
$alert-success-bg-color: color($palette-teal-500);
$alert-error-bg-color: color($palette-red-500);

$alert-gutter-size: 20px;