/*
*
*   App Color definations
*
*/
@import "color-definitions";
@import "mixins";
@import "functions";
@import "colors";
@import "variables";

/*
*
*   Material Design Lite import
*
*/
@import "material-design-lite";

@import "dialog-polyfill";

@import "medium-editor";

@import "typography";
@import "components/layouts/header";
@import "components/layouts/hero";
@import "components/layouts/section";
@import "components/layouts/authform";
@import "components/layouts/navigation";
@import "components/editor/mdl-theme";
@import "components/pagination";
@import "components/post/post";
@import "components/post/card";
@import "components/post/category";
@import "components/post/listitem";
@import "components/post/recent";
@import "components/user/userprofile";
@import "components/user/avatar";
@import "components/breadcrumb";
@import "components/image";
@import "components/form";
@import "components/button";
@import "components/liststat";

$max-width: 960px;

.section--center{
    max-width: $max-width;
    margin: 0 auto;
}

.mdl-data-table--responsive{
    max-width:100%;
    width:100%;
    white-space: normal;
}
