/*
*
*   App Color definations
*
*/
@import "color-definitions";
@import "mixins";
@import "functions";

$color-primary: $palette-orange-A400;
$color-primary-dark: $palette-orange-A700;
$color-accent: $palette-teal-500;
$color-primary-contrast:$palette-grey-100;
$color-accent-contrast: $palette-grey-200;

$layout-header-text-color: unquote("rgb(#{$palette-grey-700})");

/*
*
*   Material Design Lite import
*
*/
@import "material-design-lite";

@import "variables";
@import "components/pagination";
@import "components/post/post";
@import "components/post/card";
@import "components/post/stat";
@import "components/breadcrumb";

$max-width: 960px;

.app-layout .section--center{
    max-width: $max-width;
}

.app-navigation{
    a{
        color: $layout-header-text-color;
    }
}

.mdl-data-table--responsive{
    max-width:100%;
    width:100%;
    white-space: normal;
}

/*
.mdl-layout__header{
    background: unquote("rgb(#{$palette-grey-100})");
}*/

/*.mdl-navigation__link:hover{
    color: unquote("rgb(#{$palette-orange-500})");
}*/
