.post-card{
    max-width: $post-card-width;
    position: relative;
    transition: all 0.5s;

    &__media{
        background-color: color($palette-blue-grey-100);
        height: $post-card-media-height;
        overflow: hidden;
        padding:0;

        img {
            transition: all 0.5s;
        }
    }

    &__post-detail{
        font-size:$post-detail-font-size;
        text-transform: uppercase;
        color: $post-detail-text-color;
    }

    &__action{
        position: absolute;
        right:20px;
        top: $post-card-media-height - $button-fab-size-mini / 2;
    }

    &:hover {
        background-color: color($palette-blue-grey-50);
    }

    &:hover &__media img {
        transform: scale(1.1);
    }
}