.post-category{
    background-size: cover;

    &__item:hover > &__logo {
        transform: scale(1.1);
    }

    &--note{
        background: url('/img/note.png') no-repeat center center;
    }

    &--syllabus{
        background: url('/img/syllabus.png') no-repeat center center;
    }

    &--blog{
        background: url('/img/blog.png') no-repeat center center;
    }

    &__logo{
        width: 200px;
        height: 200px;
        display: inline-block;
        transition: all 0.5s;
    }
}