.post{
    padding: $post-body-gutter-size/2 0;

    &__date{
        text-transform: uppercase;
        color: $post-detail-text-color;
    }

    &__imp-tag{
        @include impTag();
    }

    &__featured-tag{
        font-size: $imp-tag-font-size;
        background: $featured-tag-bg-color;
        color: #fff;
        border-radius: $button-border-radius;
        padding: $badge-padding $badge-padding * 2;
        height: $imp-tag-font-size + 4 * $badge-padding;
        margin-left: $badge-padding;
    }

    &__detail{
        font-size: $post-detail-font-size;
        color: $post-detail-text-color;
        text-transform: uppercase;
    }

    &__breadcrumb{
        margin: $post-body-gutter-size/2 0;
    }

    &__featured-img {
        position: relative;
        width: 100%;
        display: block;
        background: color($palette-blue-grey-100);
        overflow: hidden;

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &--thumbnail {
            filter: blur(20px);
        }
    }

    &__body{
        margin: $post-body-gutter-size * 2 0;
        font-size: $post-body-font-size;
        text-align: justify;

        h2,h3,h4,h5,h6 {
            font-weight: 300;
            color: color($palette-blue-grey-900);
        }

        h2{
            font-size: $post-body-h2-size;
        }

        h3{
            font-size: $post-body-h3-size;
        }

        h4{
            font-size: $post-body-h4-size;
        }

        h5{
            font-size: $post-body-h5-size;
        }

        h6{
            font-size: $post-body-h6-size;
        }

        div,p{
            margin-bottom: $post-body-p-margin;
            font-size: $post-body-p-size;
            line-height: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a{
            text-decoration: none;
            color: color($color-primary);
        }

        a:hover{
            text-decoration: underline;
            color: color($color-primary-dark);
        }

        img{
            max-width: 100%;
            height: auto;
            background: #DDD;
        }

        ul, ol {
            font-size: $post-body-p-size;

            li {
                margin-bottom: 5px;
                line-height: 30px;

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-preview-container {
        justify-content: center;
    }
}
