.recent-posts {
    width: 100%;

    &__list {
        margin: 0;
    }
}

.recent-post {
    padding: 0;

    &__thumbnail {
        width: 100%;
        height: auto;

        &-container {
            max-width: 45px;
        }
    }

    &__container {
        margin: 0;
        padding: 0;
    }

    &__title {
        margin: 5px 0;

        &-link {
            color: color($color-accent);
            text-decoration: none;

            &:hover {
                color: color($color-accent-dark);
            }
        }
    }

    &__detail {
        font-size: 11px;
        color: color($palette-grey-500);
        text-transform: uppercase;
    }
}
